XTerm*termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.scrollBar: false
XTerm.vt100.scrollBar.width: 8
XTerm*cursorBlink: false
XTerm.vt100.renderFont: true
XTerm.vt100.selectToClipboard: true
!XTerm.vt100.font: 7x13
XTerm*utf8: 1
XTerm*font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-1
!XTerm*font: -*-fixed-*-*-*-20-*-*-*-*-*-iso10646-1
!!werkt nietXTerm*font: -*-firacode-regular-*-*-*-12-*-*-*-*-*-iso10646-1
!XTerm*facename: FiraCode:size=12:antialias=false
!xterm*font: FiraCode:pixelsize=12
*VT100*translations: #override Shift <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY)

xterm*metaSendsEscape: true
*foreground: #00cc00
*foreground_bold: #a8a19f
!*cursor: #a8a19f !if you give a cursor a color idle (python) stops working Tcl/Tk thingy
*background: #1b1918
!!background      = #1b1918
!!*background: rgba(0, 0, 0, .7)

!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee

URxvt.intensityStyles:	false
! URxvt.background:       [70]#000000
URxvt.depth:		32
! URxvt.font: 		xft:monospace:size=11
! URxvt.font: 		xft:inconsolata:size=11
! URxvt.font: 		xft:FiraCode-Regular:size=11
URxvt.font: 		xft:FiraCode-Regular:size=11
URxvt*letterSpace:	0
! URxvt.letterspace:	-3
URxvt.scrollBar:	false
URxvt.cursorColor:	cyan
URxvt.perl-ext-common:	default,matcher,resize-font
URxvt.perl-lib:		$HOME/.config/Scripts
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up

URxvt.colorUL:		#4682B4
rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661
